<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.nit.TestAssignment</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>TestAssignment</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>paytm</string>
		<string>whatsapp</string>
		<string>tel</string>
		<string>mailto</string>
		<string>fbapi</string>
		<string>fbauth</string>
		<string>fbshareextension</string>
		<string>comgooglemaps</string>
		<string>maps.google.com</string>
	</array>
	<key>LSApplicationQueriesSchemes - 2</key>
	<array>
		<string>com.sap.fiori.client.xcallbackurl</string>
		<string>fbauth2</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>akamaihd.net</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
			<key>facebook.com</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
			<key>fbcdn.net</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Poppins-exta-bold.ttf</string>
		<string>Poppins-bold.ttf</string>
		<string>Poppins-exta-light.ttf</string>
		<string>Poppins-light.ttf</string>
		<string>Poppins-medium.ttf</string>
		<string>Poppins-semibold.ttf</string>
		<string>Poppins-regular.ttf</string>
		<string>Poppins-thin.ttf</string>
		<string>Poppins-black.ttf</string>
		<string>Poppins-black-italic.ttf</string>
		<string>Poppins-italic.ttf</string>
		<string>Poppins-exta-bold-italic.ttf</string>
		<string>Poppins-bold-italic.ttf</string>
		<string>Poppins-exta-light-italic.ttf</string>
		<string>Poppins-light-italic.ttf</string>
		<string>Poppins-medium-italic.ttf</string>
		<string>Poppins-semibold-italic.ttf</string>
		<string>Poppins-thin-italic.ttf</string>
	</array>
</dict>
</plist>
